{% extends "layout.html" %}

{% block title %}
    Buy stocks
{% endblock %}

{% block main %}
    <form action="/sell" method="POST">
        <select class="form-select mx-auto w-25 mb-2" id="stockSymbol" name="symbol" required>
            <option>Select symbol</option>
            {% for symbol in symbols %}
                <option>{{ symbol.StockSymbol }}</option>
            {% endfor %}
        </select>
        <input autocomplete="off" class="form-control mx-auto w-25 mb-2" id="stockAmount" name="shares" min="1" placeholder="Amount" type="number" required>
        <button class="btn btn-primary w-25" type="submit">Sell stocks</button>
    </form>
{% endblock %}